### Joining on IMBD basics with TN budgets

In [1]:
import pandas as pd

In [9]:
ls

Data_cleaning_marvel.ipynb  movies.dat
IDE_marvel.ipynb            movies_gross_clean.csv
Profitability join.ipynb    ratings.dat
README.md                   theNumbers_clean.csv
Twitter_API.ipynb           twitter_reviews_clean.csv
cleanIMDB/                  zippedData/

In [37]:
ls ./zippedData/

bom.movie_gross.csv.gz        imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz       rt.movie_info.tsv.gz
imdb.title.akas.csv.gz        rt.reviews.tsv.gz
imdb.title.basics.csv.gz      tmdb.movies.csv.gz
imdb.title.crew.csv.gz        tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [29]:
tn_df = pd.read_csv('theNumbers_clean.csv')
imdb_basics = pd.read_csv('./cleanIMDB/imdb_comp.csv')
twitter_reviews = pd.read_csv('twitter_reviews_clean.csv')
movies_gross = pd.read_csv('movies_gross_clean.csv')

In [15]:
# Check number of duplicates in each dataset

print(imdb_basics.duplicated(subset='primary_title').sum())
print(tn_df['movie'].duplicated().sum())

10073
35

In [45]:
imdb_basics.head(1)

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,directors,...,archive_footage,archive_sound,cinematographer,composer,director_pr,editor,producer,production_designer,self,writer_pr
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"['Action', 'Crime', 'Drama']",7.0,77.0,['nm0712540'],...,NaN,NaN,NaN,['nm0006210'],['nm0712540'],NaN,NaN,NaN,NaN,"['nm0023551', 'nm1194313', 'nm0347899', 'nm139..."

In [46]:
tn_df.head(1)

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,ROI %,ROI $,year,month,inflation,worldwide_gross_inf,domestic_gross_inf,production_budget_inf,ROI $ Inf
0,0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,5.532577,2351345279,2009,December,1.27,3.525959e+09,9.658447e+08,539750000.0,2.986209e+09

In [47]:
# Concatenate movie name and year together, creating a new column called 'concat'

tn_df['concat'] = tn_df['movie'] + tn_df['year'].apply(lambda x: str(x))
imdb_basics['concat'] = imdb_basics['primary_title'] + imdb_basics['start_year'].apply(lambda x: str(x))

In [58]:
# Join based on our new concatenated field

imdb_combined = imdb_basics.merge(tn_df, how='inner', on='concat')

In [23]:
# Check how clean the star wars data is

# tn_star_wars = tn_df[tn_df['movie'].apply(lambda x: x.startswith('Star Wars'))]
# imdb_star_wars = imdb_basics[imdb_basics['primary_title'].apply(lambda x: x.startswith('Star Wars'))]

In [59]:
imdb_combined.to_csv('imdb_combined_prof.csv')