In [1]:
import pandas as pd
import numpy as np

In [2]:
!ls

MovieAnalysis.ipynb

In [3]:
#df_bom = pd.read_csv('bom.movie_gross.csv.gz')
df_imdb_name = pd.read_csv('../zippedData/imdb.name.basics.csv.gz')
imdb_title_akas = pd.read_csv('../zippedData/imdb.title.akas.csv.gz')
imdb_title_basics = pd.read_csv('../zippedData/imdb.title.basics.csv.gz')
df_imdb_title_crew = pd.read_csv('../zippedData/imdb.title.crew.csv.gz')
df_imdb_title_principals = pd.read_csv('../zippedData/imdb.title.principals.csv.gz')
df_imdb_title_ratings = pd.read_csv('../zippedData/imdb.title.ratings.csv.gz')
#do data cleaning on df_rt_movie_info, df_rt_reviews, tmdb
#df_rt_movie_info = pd.read_csv('rt.movie_info.tsv.gz', delimiter="\t", encoding='latin-1')
#df_rt_reviews = pd.read_csv('rt.reviews.tsv.gz', delimiter="\t", encoding='latin-1')
tmdb = pd.read_csv('../zippedData/tmdb.movies.csv.gz', index_col = 0)
#tn = pd.read_csv('tn.movie_budgets.csv.gz')

In [4]:
#df_bom.head()

In [5]:
#df_imdb_name.head()

In [6]:
#imdb_title_akas.head()

In [23]:
imdb_title_basics

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [8]:
#df_imdb_title_crew.head()

In [9]:
#df_imdb_title_principals.head()

In [10]:
#df_imdb_title_ratings.head()

In [11]:
#df_rt_movie_info.head()

In [12]:
#df_rt_reviews.tail()

In [13]:
tmdb.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [14]:
imdb_tmdb_merge = pd.merge(imdb_title_basics, tmdb, how='inner', on = 'original_title')
imdb_tmdb_merge

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count
0,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,"[35, 18]",299782,en,9.800,2018-11-02,The Other Side of the Wind,7.0,64
1,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller","[27, 878, 12]",117856,en,2.813,2012-06-30,Bigfoot,2.9,26
2,tt4503112,Bigfoot,Bigfoot,2018,NaN,"Action,Horror","[27, 878, 12]",117856,en,2.813,2012-06-30,Bigfoot,2.9,26
3,tt9181914,Bigfoot,Bigfoot,2018,86.0,"Animation,Family","[27, 878, 12]",117856,en,2.813,2012-06-30,Bigfoot,2.9,26
4,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy","[16, 28, 35, 10751]",116977,en,4.705,2013-05-07,Foodfight!,2.1,46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21073,tt9678886,Vacancy,Vacancy,2018,81.0,Documentary,"[35, 27]",475066,en,0.649,2017-10-27,Vacancy,9.0,1
21074,tt9777830,John Leguizamo's Latin History for Morons,John Leguizamo's Latin History for Morons,2018,NaN,Comedy,[35],557606,en,4.304,2018-11-05,John Leguizamo's Latin History for Morons,7.3,13
21075,tt9814730,The Flare,The Flare,2017,63.0,Sport,[],469698,en,0.600,2017-07-11,The Flare,9.0,1
21076,tt9862978,Terra,Terra,2018,60.0,Documentary,[27],536235,en,1.767,2018-04-24,Terra,5.0,1
21077,tt9869514,Wake Up Call,Wake Up Call,2017,NaN,Action,[16],544776,en,0.688,2014-06-07,Wake Up Call,6.2,3

In [15]:
imdb_tmdb_merge.drop(columns = ['tconst', 'genre_ids', 'id', 'original_title', 'title', 'original_language'], axis=1, inplace = True)
imdb_tmdb_merge

,primary_title,start_year,runtime_minutes,genres,popularity,release_date,vote_average,vote_count
0,The Other Side of the Wind,2018,122.0,Drama,9.800,2018-11-02,7.0,64
1,Bigfoot,2017,NaN,"Horror,Thriller",2.813,2012-06-30,2.9,26
2,Bigfoot,2018,NaN,"Action,Horror",2.813,2012-06-30,2.9,26
3,Bigfoot,2018,86.0,"Animation,Family",2.813,2012-06-30,2.9,26
4,Foodfight!,2012,91.0,"Action,Animation,Comedy",4.705,2013-05-07,2.1,46
...,...,...,...,...,...,...,...,...
21073,Vacancy,2018,81.0,Documentary,0.649,2017-10-27,9.0,1
21074,John Leguizamo's Latin History for Morons,2018,NaN,Comedy,4.304,2018-11-05,7.3,13
21075,The Flare,2017,63.0,Sport,0.600,2017-07-11,9.0,1
21076,Terra,2018,60.0,Documentary,1.767,2018-04-24,5.0,1
21077,Wake Up Call,2017,NaN,Action,0.688,2014-06-07,6.2,3

In [19]:
imdb_tmdb_merge['start_year'] = imdb_tmdb_merge['start_year'].astype(int)
#imdb_tmdb_merge['start_year'] = pd.to_numeric(imdb_tmdb_merge['start_year'])
#imdb_tmdb_merge['start_year'] = int(imdb_tmdb_merge['start_year'])


type(imdb_tmdb_merge['start_year'][0])

numpy.int64

In [22]:
imdb_tmdb_merge = imdb_tmdb_merge[imdb_tmdb_merge['start_year'] >= 2000]
imdb_tmdb_merge

,primary_title,start_year,runtime_minutes,genres,popularity,release_date,vote_average,vote_count
0,The Other Side of the Wind,2018,122.0,Drama,9.800,2018-11-02,7.0,64
1,Bigfoot,2017,NaN,"Horror,Thriller",2.813,2012-06-30,2.9,26
2,Bigfoot,2018,NaN,"Action,Horror",2.813,2012-06-30,2.9,26
3,Bigfoot,2018,86.0,"Animation,Family",2.813,2012-06-30,2.9,26
4,Foodfight!,2012,91.0,"Action,Animation,Comedy",4.705,2013-05-07,2.1,46
...,...,...,...,...,...,...,...,...
21073,Vacancy,2018,81.0,Documentary,0.649,2017-10-27,9.0,1
21074,John Leguizamo's Latin History for Morons,2018,NaN,Comedy,4.304,2018-11-05,7.3,13
21075,The Flare,2017,63.0,Sport,0.600,2017-07-11,9.0,1
21076,Terra,2018,60.0,Documentary,1.767,2018-04-24,5.0,1
21077,Wake Up Call,2017,NaN,Action,0.688,2014-06-07,6.2,3

In [ ]:
type(tmdb['genre_ids'][0])

In [ ]:
#tmdb['vote_count'].value_counts()

In [ ]:
print(tmdb.shape)
print(tmdb.info())
print(tmdb.describe())

In [ ]:
genre_id_dict = {28: "Action", 12: "Adventure", 16: "Animation", 35:"Comedy", 80: "Crime", 99: "Documentary",
                 18: "Drama", 10751: "Family", 14: "Fantasy", 36: "History", 27: "Horror", 10402: "Music",
                 9648: "Mystery",10749: "Romance", 878: "Science Fiction", 10770: "TV Movie", 53: "Thriller",
                 10752: "War", 37: "Western"}

In [ ]:
tmdb["genre_names"] = tmdb["genre_ids"].map(lambda x: genre_id_dict[x])

In [28]:
theNumbers_clean = pd.read_csv('../theNumbers_clean.csv')
cleanIMDB = pd.read_csv('../cleanIMDB/imdb_comp.csv')

In [29]:
theNumbers_clean

,Unnamed: 0,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,ROI %,ROI $,year,month,inflation,worldwide_gross_inf,domestic_gross_inf,production_budget_inf,ROI $ Inf
0,0,1,"Dec 18, 2009",Avatar,425000000,760507625,2776345279,5.532577,2351345279,2009,December,1.27,3.525959e+09,9.658447e+08,539750000.0,2.986209e+09
1,1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,1.546673,635063875,2011,May,1.21,1.265253e+09,2.916873e+08,496826000.0,7.684273e+08
2,2,3,"Jun 7, 2019",Dark Phoenix,350000000,42762350,149762350,-0.572108,-200237650,2019,June,1.07,1.602457e+08,4.575571e+07,374500000.0,-2.142543e+08
3,3,4,"May 1, 2015",Avengers: Age of Ultron,330600000,459005868,1403013963,3.243841,1072413963,2015,May,1.15,1.613466e+09,5.278567e+08,380190000.0,1.233276e+09
4,4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,317000000,620181382,1316721747,3.153696,999721747,2017,December,1.11,1.461561e+09,6.884013e+08,351870000.0,1.109691e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4861,5775,76,"May 26, 2006",Cavite,7000,70071,71644,9.234857,64644,2006,May,1.35,9.671940e+04,9.459585e+04,9450.0,8.726940e+04
4862,5776,77,"Dec 31, 2004",The Mongol King,7000,900,900,-0.871429,-6100,2004,December,1.45,1.305000e+03,1.305000e+03,10150.0,-8.845000e+03
4863,5778,79,"Apr 2, 1999",Following,6000,48482,240495,39.082500,234495,1999,April,1.64,3.944118e+05,7.951048e+04,9840.0,3.845718e+05
4864,5779,80,"Jul 13, 2005",Return to the Land of Wonders,5000,1338,1338,-0.732400,-3662,2005,July,1.40,1.873200e+03,1.873200e+03,7000.0,-5.126800e+03
4865,5781,82,"Aug 5, 2005",My Date With Drew,1100,181041,181041,163.582727,179941,2005,August,1.40,2.534574e+05,2.534574e+05,1540.0,2.519174e+05

In [30]:
cleanIMDB

,Unnamed: 0,tconst,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,directors,...,archive_footage,archive_sound,cinematographer,composer,director_pr,editor,producer,production_designer,self,writer_pr
0,0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"['Action', 'Crime', 'Drama']",7.0,77.0,['nm0712540'],...,NaN,NaN,NaN,['nm0006210'],['nm0712540'],NaN,NaN,NaN,NaN,"['nm0023551', 'nm1194313', 'nm0347899', 'nm139..."
1,1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"['Biography', 'Drama']",7.2,43.0,['nm0002411'],...,NaN,NaN,['nm0536728'],['nm2600399'],['nm0002411'],NaN,NaN,NaN,NaN,NaN
2,2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,['Drama'],6.9,4517.0,['nm0000080'],...,NaN,NaN,['nm0004372'],['nm0006166'],['nm0000080'],['nm0613657'],"['nm0550881', 'nm1475059']",NaN,NaN,NaN
3,3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"['Comedy', 'Drama']",6.1,13.0,['nm0611531'],...,NaN,NaN,NaN,['nm0006005'],['nm0611531'],NaN,NaN,NaN,NaN,['nm0347899']
4,4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"['Comedy', 'Drama', 'Fantasy']",6.5,119.0,"['nm0765384', 'nm0749914']",...,NaN,NaN,NaN,['nm0005948'],"['nm0749914', 'nm0765384']",NaN,"['nm0462571', 'nm1856792']",NaN,NaN,['nm1360635']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146139,146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,['Drama'],NaN,NaN,['nm8185151'],...,NaN,NaN,NaN,['nm4700236'],['nm8185151'],NaN,['nm1290982'],NaN,NaN,"['nm4843252', 'nm4900525', 'nm2679404']"
146140,146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,['Documentary'],NaN,NaN,"['nm9272490', 'nm9272491']",...,NaN,NaN,"['nm9272492', 'nm9272489', 'nm8349149', 'nm927...",NaN,"['nm9272490', 'nm9272491']",NaN,NaN,NaN,"['nm10538557', 'nm10538558', 'nm10538556']",NaN
146141,146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,['Comedy'],NaN,NaN,['nm7764440'],...,NaN,NaN,"['nm9722084', 'nm10538597']",NaN,['nm7764440'],NaN,['nm2983963'],NaN,NaN,['nm7933903']
146142,146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN,NaN,NaN,['nm10538612'],...,NaN,NaN,['nm1957275'],NaN,['nm10538612'],['nm9785908'],"['nm10538614', 'nm10538613']",NaN,NaN,NaN
146143,146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,['Documentary'],NaN,NaN,"['nm9272490', 'nm8349149']",...,NaN,NaN,"['nm9275317', 'nm9272489', 'nm10538638', 'nm10...",NaN,"['nm9272490', 'nm8349149']",NaN,NaN,NaN,"['nm10538632', 'nm3699941', 'nm9813366', 'nm88...",NaN

In [ ]:
Genres_vs_ROI = pd.concat([[cleanIMDB['']
                          [theNumbers_clean[])

'''df3 = pd.concat(data, axis=1, keys=headers)
[DataFrame1["column"], DataFrame2["column"]]'''